<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" bootstrap="vendor/autoload.php" colors="false" stopOnError="false" stopOnFailure="false" stopOnIncomplete="false" stopOnSkipped="false" stopOnRisky="false">
  <coverage includeUncoveredFiles="true" processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./Chain</directory>
      <directory suffix=".php">./Log</directory>
      <directory suffix=".php">./Utilities</directory>
    </include>
    <report>
      <clover outputFile="coverage/phpunit.xml"/>
      <html outputDirectory="coverage/"/>
    </report>
  </coverage>
  <php>
    <ini name="error_reporting" value="-1"/>
  </php>
  <testsuites>
    <testsuite name="Chain Tests">
      <directory suffix="Test.php">./Tests/Chain/</directory>
    </testsuite>
    <testsuite name="Logger Tests">
      <directory suffix="Test.php">./Tests/Log/</directory>
    </testsuite>
    <testsuite name="Utility Tests">
      <directory suffix="Test.php">./Tests/Utilities/</directory>
    </testsuite>
  </testsuites>
  <logging>
    <junit outputFile="reports/phpunit.xml"/>
  </logging>
</phpunit>
